<div id="init" ng-show="init" class="animated fadeInUp"><img src="./images/logo-intro.gif"></div>
<div ng-controller="SongCtrl" class="Fullheight">
        
        <div ng-show="!init" class="Fullheight animated fadeIn">
        <div class="isotope" class="Fullheight">
          <div ng-repeat="sound in dataSound.data | filter:searchText" class="sound-wrapper animated fadeIn" ng-style="{ 'background-image': 'url(http://dev.dashboard-meloman.com:8888/assets/img/song/{{ sound.image_song }} )'}">
            <div class="mask_black"></div>
            <div class="sound" ng-model="active" data-scurl="{{ sound.url_soundcloud }}">
              <div plangular data-src="{{ sound.url_soundcloud }}">
                  <div ng-class="active ? 'fadeOut' : 'fadeInDown'">
                    <div class="share left">
                      <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                      </ul>
                    </div>
                    <div class="category right" ng-click="changeView(sound.id_category, sound.title_category);">
                      {{ sound.title_category }}
                    </div>
                    <div class="description" ng-click="player.play(track); active = !active">
                        <div class="title">
                          {{ sound.title_song }}
                        </div>
                        <div class="author">
                          {{ sound.artist_song }}
                        </div>
                    </div>
                    <div class="control">
                        <a href="" class="bt-play" ng-click="player.play(track)" ng-hide="player.playing == track">
                        </a>
                        <a href="" class="bt-pause" ng-click="player.pause()" ng-show="player.playing == track">
                        </a>
                    </div>
                  </div>

                  <div ng-show="active" class="page-song animated" ng-class="active ? 'fadeInUp' : 'fadeOut'">
                    <div id="bg_img" ng-style="{ 'background-image': 'url(http://dev.dashboard-meloman.com:8888/assets/img/bg/{{ sound.image_bg }} )'}">
                      <div id="layer_bg">
                        <button class="close" ng-click="active=false">Close</button>
                        <div id="container_track">

                          <div class="text-center">

                            <div id="hexa_cover">
                              <div id="play">
                                <a href="" class="bt-play" ng-click="player.play(track)" ng-hide="player.playing == track">
                                </a>
                                <a href="" class="bt-pause" ng-click="player.pause()" ng-show="player.playing == track">
                                </a>
                              </div>
                              <img width="100" src="http://dev.dashboard-meloman.com:8888/assets/img/song/{{ sound.image_song }}" alt="" />
                            </div>

                            <span id="tag" ng-click="changeView(sound.id_category, sound.title_category);">#{{ sound.title_category }}</span>
                            <h1>{{ sound.title_song }}</h1>
                            <span id="separator_track"></span>
                            <h2>{{ sound.artist_song }}</h2>
                            <span id="underline_track"></span>
                          </div><!-- end .text-center -->


                          <div class="row">
                            <div class="bd">
                              <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)">{{ currentTime / duration }}</progress>
                            </div>
                            <div id="quote_track" class="row6">
                              <quote id="punchline">"{{ sound.punchline_song }}"</quote>
                              <p id="author">By {{ sound.pseudo_user }}</p>
                            </div><!-- end #quote_track -->

                            <div id="share" class="text-center row6">
                              <div id="share_buttons">
                                <a href=""><img src="images/single_track/like.png" alt="Like" /></a>
                                <a href=""><img src="images/single_track/twitter.png" alt="Twitter" /></a>
                                <a href=""><img src="images/single_track/facebook.png" alt="Facebook" /></a>
                              </div>
                              <span id="share_separator"></span>
                              Like <span style="position: absolute; bottom: 3px;"><span id="small_share">or</span></span> <span style="margin-left: 29px;">share</span>
                            </div><!-- end of #share -->

                          </div><!-- end of .row -->


                          <div class="text-center">
                            <a href="{{ sound.vendor_song }}" id="vendor" target="_blank" class="btn btn-white">Buy the track</a>
                          </div><!-- end of .text-center -->

                        </div><!-- end #container_track -->

                      </div><!-- end #layer_bg -->
                    </div><!-- end #bg_img -->
                  </div>

              </div>
            </div>
          </div>
        </div>
        </div>