
<div ng-controller="SongCtrl" class="Fullheight">
<div id="container">

      <img class="close" src="images/icones/close.png" alt="" />
 
      <h1>Search</h1>
      <span id="subtitle">Something dude...</span>
      <form action="">
        <input type="text" ng-model="searchText" placeholder="" ng-keypress="getAllArtistSound(searchText)" autofocus />
        <input type="submit"/>
      </form>

        <div class="column column_small">

          <div class="subheader">
            <h2>Tracks</h2>
            <h3>10 results</h3>
            <img src="images/icones/bt_more.png" alt="" />
          </div><!-- end of .subheader -->

          <ul>
            <div ng-repeat="sound in dataSound.data | filter:searchText | limitTo: 7" class="animated fadeIn" >
              <li>
                <div plangular data-src="{{ sound.url_soundcloud }}">
                  <div>
                    <img ng-src="http://dev.dashboard-meloman.com:8888/assets/img/song/{{ sound.image_song }}" />
                  </div>
                  <div>
                    <p class="name_track">{{ sound.title_song | characters:30 : false }}</p></br>
                    <p>{{ sound.artist_song }}</p>
                  </div>
                  <div class="control">
                      <a href="" class="bt-play" ng-click="player.play(track)" ng-hide="player.playing == track">
                      </a>
                      <a href="" class="bt-pause" ng-click="player.pause()" ng-show="player.playing == track">
                      </a>
                  </div>
                </div>
              </li>
            </div>

          </ul>

        </div>

        <div class="column column_small">
          <div class="subheader">
            <h2>Artists</h2>
            <h3>8 results</h3>
            <img src="images/icones/bt_more.png" alt="" />
          </div><!-- end of .subheader -->

          <ul>
            <div ng-repeat="sound in dataArtistSound.data | filter:searchText | limitTo: 7" class="animated fadeIn" >
              <li>
                <div plangular data-src="{{ sound.url_soundcloud }}">
                  <div>
                    <img ng-src="http://dev.dashboard-meloman.com:8888/assets/img/song/{{ sound.image_song }}" />
                  </div>
                  <div>
                    <p class="name_track">{{ sound.title_song | characters:30 : false }}</p></br>
                    <p>{{ sound.artist_song }}</p>
                  </div>
                  <div class="control">
                      <a href="" class="bt-play" ng-click="player.play(track)" ng-hide="player.playing == track">
                      </a>
                      <a href="" class="bt-pause" ng-click="player.pause()" ng-show="player.playing == track">
                      </a>
                  </div>
                </div>
              </li>
            </div>

          </ul>

        </div>


    </div>
</div>